.clock{
    position: relative;
    min-width: 1024;
    min-height: 1028;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 1px solid blue;
    margin-top: 520px;
}

.clock > * {
    position: absolute;
    border: 1px solid red;
}

